<%= @hint %>

 <form class="form-hint" action="/hint" method="post">
      <input type="submit" class="btn btn-danger btn-block" value="Get Hint"/>
</form>

<form class="form-hint" action="/play" method="post">
    <input type="submit" class="btn btn-danger btn-block" value="Back to game"/>
</form>