<div class='hint-container'>
  <h3>Hint: <%= @hint %></h3>
  <a href="/hint" class='btn btn-primary hint-btn'>Get Hint</a>
  <a href="/play" class='btn btn-primary back-game-btn'>Back to game</a>
</div>