<div class='login-container'>
  <h3 class='title'>Codebreaker App</h3>
  <br>
  <form action="/play" method="post">
    <input type="text" placeholder="Your name" required name="user_name" class='login-field'>
    <br>
    <button class="btn btn-primary start-btn">Start</button>
    <br>
  </form>
  <a href="/statistics" class='statistics-btn btn btn-primary'>Statistics</a>
</div>