<h3>Welcome to Codebreaker Game!</h3>

<div>
  <form action="/play" method="get">
    <label>
      <input type="text" placeholder="Your name" required name="user_name">
    </label>
    <div>
      <button class="btn btn-primary">Start</button>
    </div>
  </form>

  <a href="/statistics" class="button">Statistics</a>
</div> 