<div class='statistics-container'>
  <h3 class='title'>Codebreaker App</h3>
  <br>
  <h3>Statistics:</h3>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Score</td>
        <td>Date</td>
      </tr>
    </thead>

    <tbody>
      <% @score.each do |key, item| %>
        <tr>
          <td><%= item[:name] %></td>
          <td><%= item[:score] %></td>
          <% time = item[:time] %>
          <td><%= "#{time.day}/#{time.month}/#{time.year} - #{time.hour}:#{time.min}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>